<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>com.cours.allo.docteur.servlets.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageMedecinServlet</servlet-name>
        <servlet-class>com.cours.allo.docteur.servlets.ManageMedecinServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateMedecinServlet</servlet-name>
        <servlet-class>com.cours.allo.docteur.servlets.UpdateMedecinServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateMedecinServlet</servlet-name>
        <servlet-class>com.cours.allo.docteur.servlets.CreateMedecinServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RendezVousServlet</servlet-name>
        <servlet-class>com.cours.allo.docteur.servlets.RendezVousServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExportServlet</servlet-name>
        <servlet-class>com.cours.allo.docteur.servlets.ExportServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FindPatientServlet</servlet-name>
        <servlet-class>com.cours.allo.docteur.servlets.FindPatientServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageMedecinServlet</servlet-name>
        <url-pattern>/ManageMedecinServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateMedecinServlet</servlet-name>
        <url-pattern>/UpdateMedecinServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateMedecinServlet</servlet-name>
        <url-pattern>/CreateMedecinServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RendezVousServlet</servlet-name>
        <url-pattern>/RendezVousServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExportServlet</servlet-name>
        <url-pattern>/ExportServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FindPatientServlet</servlet-name>
        <url-pattern>/FindPatientServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>LoginServlet</welcome-file>
    </welcome-file-list>
</web-app>
