<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>com.cours.allo.docteur.servlets.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManagePatientServlet</servlet-name>
        <servlet-class>com.cours.allo.docteur.servlets.ManagePatientServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreatePatientServlet</servlet-name>
        <servlet-class>com.cours.allo.docteur.servlets.CreatePatientServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdatePatientServlet</servlet-name>
        <servlet-class>com.cours.allo.docteur.servlets.UpdatePatientServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RendezVousServlet</servlet-name>
        <servlet-class>com.cours.allo.docteur.servlets.RendezVousServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FindMedecinServlet</servlet-name>
        <servlet-class>com.cours.allo.docteur.servlets.FindMedecinServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExportServlet</servlet-name>
        <servlet-class>com.cours.allo.docteur.servlets.ExportServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChooseRendezVousServlet</servlet-name>
        <servlet-class>com.cours.allo.docteur.servlets.ChooseRendezVousServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SelectCreneauServlet</servlet-name>
        <servlet-class>com.cours.allo.docteur.servlets.SelectCreneauServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManagePatientServlet</servlet-name>
        <url-pattern>/ManagePatientServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreatePatientServlet</servlet-name>
        <url-pattern>/CreatePatientServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdatePatientServlet</servlet-name>
        <url-pattern>/UpdatePatientServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RendezVousServlet</servlet-name>
        <url-pattern>/RendezVousServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FindMedecinServlet</servlet-name>
        <url-pattern>/FindMedecinServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExportServlet</servlet-name>
        <url-pattern>/ExportServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChooseRendezVousServlet</servlet-name>
        <url-pattern>/ChooseRendezVousServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SelectCreneauServlet</servlet-name>
        <url-pattern>/SelectCreneauServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>LoginServlet</welcome-file>
    </welcome-file-list>
</web-app>
